* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #696969;
}

header {
    background-color: black;
}

.navbar {
    justify-content: space-between;
}

.navbar-brand:hover {
    color: red;
}

.navbar-brand {
    color: red;
}

.btn-success {
    background-color: red;
}

.btn-success:hover {
    background-color: maroon;
}

.film {
    margin-top: 20px;
    margin-bottom: 20px;
}

.yellow {
    color: yellow;
}
.grey {
    color: grey;
}

.film {
    width: 342px;
    height: 520px;
}

.card-img-overlay {
    opacity: 0;
    transition: .5s ease;
    background-color: black;
    border: 1px solid;
    opacity: 0;
    color: white;
    overflow-y: scroll;
}

.film:hover .card-img-overlay {
  opacity: 1;
  cursor: pointer;
  overflow-y: scroll;
}

.row > div[class*='col-'], .card-img-top {
  display: flex;
  flex: 1 0 auto;
  height: 100%;
}
