* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #696969;
    padding-top: 72px;
}

.navbar-dark h1 {
    color: red;
}

.btn-success {
    background-color: red;
}

.btn-success:hover {
    background-color: maroon;
}

.yellow {
    color: yellow;
}
.grey {
    color: grey;
}

.card-img-overlay {
    opacity: 0;
    transition: .5s ease;
    background-color: black;
    border: 1px solid;
    opacity: 0;
    color: white;
    overflow-y: auto;
}

.film:hover .card-img-overlay:hover {
  opacity: 1;
  cursor: pointer;
  overflow-y: auto;
}

.card-title, .card-img-overlay span:not(.genre){
    font-weight: 800;
}

.card-columns .card {
    margin-bottom: -1rem;
}

.nascosto {
    display: none;
}

.visibile {
    display: block;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1201px) {
    .card-columns {
        column-count: 6;
    }
}
